body {
    font-family: Arial, sans-serif;
    background-color: #94e0ff;
    margin: 0;
    padding: 0;
}

.horizontal-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.horizontal-list li {
    display: inline-block;
    /* This adds some spacing between els */
    margin-right: 10px;
}