<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href="/static/styles.css">
        <title>{{.Title}}</title>
    </head>
    <body>
        <div class="nav-panel rounded-el">
            <ul class="horizontal-list">
                <li><b>CYOA: Create Your Own Adventure</b></li>
                <li class="right-item center-txt  rounded-el">
                    <button onclick="window.location.href='/'"
                    class="btn-neutral">
                        Main Page
                    </button>
                </li>
            </ul>
        </div>
        
        <h1 class="all-mrg-10">{{.Title}}</h1>
        <!-- Stories go here Iteratively -->
        <div class="story-section">
            <div class="all-mrg-10">
                {{range .Story}}
                <p>{{ . }}</p>
                {{end}}
            </div>          
        </div>
        {{if gt (len .Options) 0}}
        <!-- Options go here Iteratively -->
        <h3 class="all-mrg-10">What's next?</h3>
        <div class="story-section">
            <div class="all-mrg-10">
                {{range .Options}}
                <ul class="horizontal-list">
                    <li>
                        <button onclick="window.location.href='/{{.Arc}}'"
                        class="btn-go">
                            Let's Go!
                        </button>
                    </li>
                    <li class="right-item option-item-text" 
                    style="width: 90%;">
                        {{.Text}} 
                    </li>
                </ul>
                {{end}}
            </div>
        </div>
        {{end}}
    </body>
</html>